<?xml version="1.0"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<filter>
		<filter-name>CORS Filter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>Accept,Access-Control-Request-Headers,Access-Control-Request-Method,Content-Type,Origin,X-Requested-With</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,OPTIONS,POST</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Credentials,Access-Control-Allow-Origin</param-value>
		</init-param>
		<init-param>
			<param-name>cors.preflight.maxage</param-name>
			<param-value>3600</param-value>
		</init-param>
		<init-param>
			<param-name>cors.support.credentials</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CORS Filter</filter-name>
		<url-pattern>/upload/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>File Admin Servlet</servlet-name>
		<servlet-class>com.liferay.filerepository.servlet.FileAdminServlet</servlet-class>
		<init-param>
			<param-name>replicateIncludeFile</param-name>
			<param-value>e:/test/tomcat/replicate.include</param-value>
		</init-param>
		<init-param>
			<param-name>rootDir</param-name>
			<param-value>/home/joshua/liferay/local-file-storage</param-value>
		</init-param>
		<init-param>
			<param-name>validIps</param-name>
			<param-value>127.0.0.1</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>File Download Servlet</servlet-name>
		<servlet-class>com.liferay.filerepository.servlet.FileDownloadServlet</servlet-class>
		<!--<init-param>
			<param-name>clusterName</param-name>
			<param-value>file-repository-web-cluster-1</param-value>
		</init-param>-->
		<init-param>
			<param-name>rootDir</param-name>
			<param-value>/home/joshua/liferay/local-file-storage</param-value>
		</init-param>
		<init-param>
			<param-name>sleepInterval</param-name>
			<param-value>300000</param-value>
		</init-param>
		<init-param>
			<param-name>validIps</param-name>
			<param-value>127.0.0.1</param-value>
		</init-param>
		<init-param>
			<param-name>s3AccessKey</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>s3SecretKey</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>s3BucketName</param-name>
			<param-value>liferay</param-value>
		</init-param>
		<init-param>
			<param-name>s3Prefix</param-name>
			<param-value>ee</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>File Upload Servlet</servlet-name>
		<servlet-class>com.liferay.filerepository.servlet.FileUploadServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Token Servlet</servlet-name>
		<servlet-class>com.liferay.filerepository.servlet.TokenServlet</servlet-class>
		<init-param>
			<param-name>validIps</param-name>
			<param-value>127.0.0.1</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>File Admin Servlet</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>File Download Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>File Upload Servlet</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Token Servlet</servlet-name>
		<url-pattern>/token/*</url-pattern>
	</servlet-mapping>
</web-app>